{% extends "layout.html" %} {% block content %}
<br>
<br>
<br>

<div class="row">
    <div class="col-lg-4">
        <!-- First row -->
        <div class="btn-group" id="add-btn-group">
            <h3></h3>
            <button type="button" class="btn btn-default btn-days" id="day1">Day 1</button>
            <button type="button" class="btn btn-default btn" id="add-day">+</button>
        </div>
    </div>
    <div class="col-lg-3">
            <h3>Hotels</h3>
                    <select class="form-control" id="hotelDropdown">
                    <!--hotel data goes here -->
                    </select>
                    <button type="button" class="btn btn-primary" id="hotels-add-btn">Add</button>
    </div>
    <div class="col-lg-3">
            <h3>Things to do</h3>
                    <select class="form-control" id="thingsDropdown">
                        <!--thingstodo data goes here -->
                    </select>
                    <button type="button" class="btn btn-primary" id="things-add-btn">Add</button>
    </div>
    <div class="col-lg-2">
            <h3>Restaurants</h3>
                  <select class="form-control" id="restaurantsDropdown">
                        <!--restaurant data goes here -->
                    </select>
                    <button type="button" class="btn btn-primary" id="resto-add-btn">Add</button>
    </div>
</div>
<!-- First row ends -->
<div class="row" id="map">
    <!-- Second row begins -->
    <div class="col-lg-4">
      <h3>Plan for <span id="day"></span></h3>
      <ul>
        <li><h4>Hotel</h4><ul id="hotel-ul"></ul></li>
        <li><h4>Things to Do</h4><ul id="things-ul"></ul></li>
        <li><h4>Restaurants</h4><ul id="restaurants-ul"></ul></li>
      </ul>
    </div>
    <div class="col-lg-8">
      <div id="map-canvas"></div>
    </div>
</div>

<!-- Second row ends -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script>
{% autoescape false %}
var all_hotels = {{hotels|json}};

var all_restaurants = {{restaurants|json}};

var all_things_to_do = {{thingsToDos|json}};

{% endautoescape %}

all_hotels.forEach(function(hotel) {
  var $hotelDropdown = $("#hotelDropdown")
  $hotelDropdown.append("<option>"+hotel.name+"</option>");
});

all_restaurants.forEach(function(restaurant) {
  var $restaurantsDropdown= $('#restaurantsDropdown')
  $restaurantsDropdown.append("<option>"+restaurant.name+"</option>");
});

all_things_to_do.forEach(function(thingToDo) {
  var $thingsDropdown = $("#thingsDropdown");
  $thingsDropdown.append("<option>"+thingToDo.name+"</option");
});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSHso5Dp1I98iDm6crpS9Qk4i8t73qVaI&sensor=true"></script>
<script src="/javascripts/maps.js"></script>
<script src="/javascripts/trip.js"></script>
{% endblock %}