/*body {
  margin-top: 200px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.map-column {
  height: 500px;
}

/*#map-canvas {
  height: 500px;
  width: 500px;
}*/

#map-canvas {
  margin-top: 20px;
  height: 700px;
  width: 750px;
}

.inner-li {
  list-style: none;
}